

/*Styling for icons and images*/


.iconsContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  height: 100%;
}

.playicon {
  width: 80px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px); 

}

.iconsContainer:hover {
  width: 100px;
  opacity: 1;
  background-color: rgb(0 0 0 / 43%);
}


.dotsicon, .playicon, .hearticon {
  width: 30px;
  height: 30px;
  filter: invert(1);
  margin: 8px;
}







/* Hoover effects
- Normal state: no hoover effects
  
- Hover over album cover
  - Darker image
  - heart.svg
  - play.svg
  - dots.svg
- Hover over play icon
  - Faded image
  - Growing heart.svg image
  - play.svg
  - dots.svg
- Hover over album name
  - Album name underlined
  
- Hover over artist name
  - Artist name underlined
  */